*.vo
*.vio
*.vok
*.vos
*.v.d
.coqdeps.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.coq-native/
build-dep/
Makefile.coq
.Makefile.coq.d
Makefile.coq.conf
*.crashcoqide
*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.txss
*.thm
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
_*_.tex
*.pyg
*.fls
*.dvi
auto/
*.html
.DS_Store
rust/target/
*.lock
out
dist
node_modules
.vscode-test/
*.vsix